[Unit]
Description = CFAL daemon

[Service]
ExecStart = your_CFAL_path/collect_file_access_log.sh
Restart = always
Type = simple
ExecStop=/bin/kill -QUIT $MAINPID
LimitNOFILE=65536

[Install]
WantedBy = default.target